/* sizes html to always cover full background */
html {
    background: black;
    background-size: cover;
    color: white;
}

.content {
    margin: 50px 100px;

}

.winTiesLossContainer {
    display: flex;
    justify-content: space-between;
}

button {
    width: 200px;
    height: 200px;
    color: white;
    background-color: transparent;
    background-size: cover;
    padding: 10px;
    
}

.rock {
    background-image : url('./assets/rock.png');
}

.winContainer,
.tieContainer,
.lossContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rockContainer,
.scissorsContainer,
.paperContainer {
    display: flex;
    flex-direction: column;
}